[Desktop Entry]
Name=Steam Game Mode
Comment=Launch Steam in Gamescope (SteamOS-like)
Exec=/usr/share/gamescope-custom/gamescope-session.sh
Type=Application
DesktopNames=gamescope
